/* 

Project Name: Feliz cumpleaños Flavia 
Client: Flavia Palma
Author: Ines Apablaza | www.twitter.com/castig | www.castig.org 
Developed @ One Month in Chile 

*/
body{
	background-image: url('../images/opcion_fondo9.jpg');
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family: 'Lobster', cursive;
}

h1{
	font-size: 2rem;
	padding: 1.25rem;
	text-align: center;
	color: #722DAF;
}

.container{
	width: 34.375rem;
	margin: 4.063rem auto;
	background:#E8DAFB; 
	border-radius: 1.25rem 1.25rem 0 0;
}
.contact{
	height: 17.5rem;
}

.hero img{
	width: 100%;
	border-radius: 1.25rem 1.25rem 0 0;

}

#pusheen1{
	width: 12.188rem;
	height: 11.875rem;
	padding: 0.938rem;
}

#pusheen2{
	width: 12.5rem;
	height: 13.125rem;
	padding: 0.938rem;
}

aside.right{
	float: right;
}

aside.left{
	float: left;
}

div.intro{
	height: 17.625rem;
	background: #E8DAFB;
}

div.contact{
	height: 19.375rem;
	background: #DAEDFB;
}

p{
	color: #0E3C49;
	font-size: 25px;
	padding: 1.563rem 1.875rem;
	text-align: center;
}
h5{
	color: #0E3C49;
	text-align: center;
}


